<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
         "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration> 
    <!-- 别名 -->
    <typeAliases>
        <!-- 
           * 在ParameterType或ResultType中直接使用类名, 
           * 首字母大小写均可 
        -->
        <package name="com.bw.contact.entities"/>
        
        <!-- 或指定类型, 指定别名 -->
        <!-- <typeAlias type="org.hy.ssm.model.entities.User" alias="user"/> -->
    </typeAliases>
</configuration> 