<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC 
    "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" 
    >

<!-- namespace 通常使用 DAO 接口的权限命名 -->
<mapper namespace="com.bw.contact.dao.UserDao">

    <!-- 
        * 这里能使用  resultType="user" 是因为配置了 package name="org.hy.ssm.model.entities"
        *
        * 小技巧:
        *   1. 如果查询的数据非常确认只有一条时, 可在SQL的尾部明确的指出: LIMIT 1
        *   2. 有 WHERE 的情况下, 先判断条件是否成立而后再使用, 可以提高 SQL 接口复用率
        *   以上仅个人观点 
    -->
    
    <!-- 指定用户账户查询用户 -->
    <select id="selectUserById" resultType="User">
        SELECT
            *
        FROM
            bw_user u
        <if test="id != null and id != ''">
            <where>
                u.id = #{id}
            </where>
        </if>
        LIMIT
            1
    </select>

</mapper>